html{
  box-sizing: border-box;
  font-family: 'Contrail One', cursive;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  padding: 0em;
  margin: 0em;
}

p{
  background-color: #1a2230;
  color: #fff;
  padding: .5em;
  margin: 0em;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.robot-body{
  top: 120px;
  width: 320px;
  position: absolute;
}

.robot-brain{
  width: 46px;
  position: relative;
  left: 138px;
  top: 20px;
}

.robot-head-left{
  width: 125px;
  position: relative;
  top: 70px;
  right: 14px;
}

.robot-head-right{
  width: 125px;
  position: relative;
  top: 70px;
  right: 18px;
}

.robot{
  width: 320px;
  margin: 0 auto;
}

header{
  background-color: #2c3950;
  height: 305px;
}

header:hover .robot-head-right{
  transition: all 500ms linear;
  left :20px;
}

header:hover .robot-head-left{
  transition: all 500ms linear;
  left: -50px;
}

header:hover .robot-brain{
  transition: all 500ms linear;
  top: -26px;
}
